body{
    
    background-color: salmon;
}
.form {
    width: 400px;
    background-color: tan;
    min-height: 300px;
    margin: 40px auto;
    padding: 20px;
}

#text {
    color: white;
    background-color :salmon ;
    height: 30px;
    margin: 20px;
    border: 0;
    border-radius: 10px;
}

.form button {
    height: 30px;
    width: 60px;
    background-color: slategray;
    color: white;
    border : 0;
    border-radius: 20px;
    cursor: pointer;
}